{
  "presets": ["babel-preset-expo"],
  "plugins": [
    "transform-react-jsx-source",
    ["module-resolver", {
      "alias": {
        "img": "./img",
        "BikeShare": "./src/js",
        "test": "./src/test",
        "theme": "./native-base-theme"
      }
    }]
  ]
}
