{
    "parser": "babel-eslint",
    "extends": "hubspot",
    "plugins": [
      "react",
      "react-native"
    ],
    "rules": {
      "react/jsx-handler-names": "off",
      "no-unused-vars": [2, {
        varsIgnorePattern: "^__"
      }]
    },
    "settings": {
      "import/resolver": {
        "node": {
            "extensions": [".js", ".android.js", ".ios.js"]
        }
      }
    }
}
