{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "Symbol": true,
    "Promise": true,
    "require": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": ["react"],
  "rules": {
    "react/display-name": "off",
    "react/jsx-handler-names": "off",
    "no-param-reassign": "off",
    "no-unused-vars": [2, {
      "varsIgnorePattern": "^__"
    }]
  },
  "settings": {
    "react": {
      "version": "16.2.0"
    }
  }
}
